<<<<<<< HEAD
=======

>>>>>>> b9b54912d474c7ba5f2e0308aaa5ca29b1fee421
.AppBar a {
    color: inherit;
    text-decoration: none;
    margin-right: 16px;
}

.AppBar a:hover {
<<<<<<< HEAD
    color: lightblue;
}

.AppBar button {
    color: inherit;
    margin-left: 12px;
}

.AppBar button:hover {
    color: lightblue;
}
=======
  color: lightblue;
}
>>>>>>> b9b54912d474c7ba5f2e0308aaa5ca29b1fee421
