.table-container {
    position: absolute;
    top: 25%;
    left: 15%;
    width: 70%;
    height: 75%;
    overflow-y: scroll;
    overflow-x: scroll;
}

table {
    height: auto;
    width: 100%;
}

th,
td {
    padding: 8px;
    margin: -10px 0px;
    text-align: left;
}

th {
    background-color: #242424;
    position: sticky;
    top: 0;
    z-index: 1;
    border-bottom: 1px solid;
}

.table-body {
    height: 75%;
    display: block;
    max-height: 100%;
}

@media (prefers-color-scheme: light) {
    th {
        background-color: #ffffff;
    }
}

@media (max-width:786px) {
    .table-container {
        top: 90px;
    }
}

@media (max-height:760px) {
    .table-container {
        top: 90px;
    }
}