.back {
    top: 5px;
    position: absolute;
    left: 10%;
}

.container {
    position: absolute;
    left: 15%;
    width: 70%;
    height: 25%;
    text-align: center;
    background-color: #fba263;
}

.number {
    margin-top: 10px;
    padding-top: 20px;
    margin-bottom: 10px;
    font-size: 60px;
}

.words {
    margin: 20px auto;
    padding-bottom: 20px;
    font-size: 40px;
}

@media (max-width:786px) {
    .number {
        padding-top: 10px;
        margin-bottom: 5px;
        font-size: 30px;
    }
    .words {
        margin: 5px auto;
        padding-bottom: 5px;
        font-size: 20px;
    }
    .container {
        height: 90px;
    }
}

@media (max-height:760px) {
    .number {
        padding-top: 10px;
        margin-bottom: 5px;
        font-size: 30px;
    }
    .words {
        margin: 5px auto;
        padding-bottom: 5px;
        font-size: 20px;
    }
    .container {
        height: 90px;
    }
}