.reqContainer {
    position: relative;
    width: 95%;
    height: auto;
    margin-bottom: 20px;
}

@media (prefers-color-scheme:light) {
    .reqContainer {
        border: solid 3px #000;
    }
}

@media (prefers-color-scheme:dark) {
    .reqContainer {
        border: solid 3px #FFF;
    }
}

h4,
p {
    margin: 0;
    margin-left: 4px;
}